<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin filename="ignition-gazebo-diff-drive-system"
                name="ignition::gazebo::systems::DiffDrive">

            <!-- Wheels -->
            <left_joint>left_wheel_joint</left_joint>
            <right_joint>right_wheel_joint</right_joint>
            <wheel_separation>0.184</wheel_separation>
            <wheel_radius>0.0425</wheel_radius>

            <!-- Limits -->
            <max_wheel_torque>100</max_wheel_torque>
            <max_linear_velocity>100</max_linear_velocity>

            <!-- Topics -->
            <topic>cmd_vel</topic>
            <odom_topic>odom</odom_topic>
            <tf_topic>tf</tf_topic>

            <!-- Frames -->
            <frame_id>odom</frame_id>
            <child_frame_id>base_link</child_frame_id>

            <odom_publish_frequency>30</odom_publish_frequency>

        </plugin>
    </gazebo>

</robot>
